
.containerBanner {
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
	background-color: $azul;
	&__banner {
		display: contents;
		background-color: $azul;
		color:$blanco;
		@media #{$media-movil}{
			//display: none;
		}
	}
	&__DivText{
		padding: 30px;
		@media #{$media-extra-movil}{
		 padding: 0px;
		}
		@media #{$media-movil}{
		 padding: 0px;
		}
	}
	&--DivTextouno{
		//background-image: url("../img/sale.png");
		background-repeat: no-repeat;
		width: auto; /*or your image's width*/
		height: auto; /*or your image's height*/
		margin: 0;
		padding: 0px 0px 0px 50px;
		text-align: left;
		font-size: 1.3em;
		
			@media #{$media-desktop}{
				font-weight: 900;
				font-size: 1.5em;
			}
			@media #{$media-extra-movil}{
				font-weight: 900;
				font-size: 1em;
			}
			@media #{$media-movil}{
				font-weight: 900;
				font-size: 1em;
			}
	}
	&--DivTextodos{
		background-image: url("../img/sale.png");
		background-repeat: no-repeat;
		width: auto; /*or your image's width*/
		height: auto; /*or your image's height*/
		margin: 0;
		padding: 0px 0px 0px 50px;
		text-align: left;
		font-size: 1.3em;
			@media #{$media-extra-movil}{
				font-weight: 900;
				font-size: 1em;
			}
			@media #{$media-movil}{
				font-weight: 900;
				font-size: 1em;
			}
	}
	&--textDivuno{
		font-weight: 900;
    	font-size: 1.2em;
		color: $blanco;

	}
	&__publicidadHome{
		color:$blanco;
		@media #{$media-movil}{
			
		}
	}
	&__imgpublicidad{
		@include flexbox();
		@include justify-content(space-around);
		@include align-items(center);
		text-align: center;
		padding: 35px;
		background-color: $ColorPublicidadHome;
		@media #{$media-extra-movil}{
			padding: 5px;
		}
		@media #{$media-movil}{
			padding: 5px;
		}
	}
	&__QuitarPadding {
		padding-left: 0px;
		padding-right: 0px;
	}
}

//slider-home
#carrusel {
	.item-details{
		background-color: #333333;
		color: #fff;
		padding: 20px 10px;
		text-align: left;
		h5{
			margin: 0 0 15px;
			font-size: 18px;
			line-height: 18px;
			span{
				color: red;
				float:right;
				padding-right: 20px;
			}
		}
		p{
			font-size: 14px;
		}
	}
	.item {
			text-align: center;
			// padding: 20px;
			//margin-bottom:80px;
	}
}

//

.link_campaña a {
   color: $blanco;
}

.dropdown-menu{
	width:100vw;
	position: absolute;
	left: 0;
}

.dropdown.is-fullwidth {
	display: flex;
  
	.dropdown-trigger,
	.dropdown-menu {
	  width: 100%;
	}
  }


.filtro{
	@media #{$media-extra-movil}{
		display: none;
		
	}
	@media #{$media-movil}{
		display: none;
		
	}
}


.ColumnProductHome{	
	padding: 50px;
	background-color: $fondo;
		//border: 1px solid red;
	@media #{$media-extra-movil}{
		padding: 0px;
	}
	@media #{$media-movil}{
		padding: 0px;		
	}
	&__home{
		background-color: $fondo;
		padding: 5px;
		//border: 1px solid red;
	}
	&__interno {
		//border:1px solid red;
		padding: 2px;
	}
	&__Paddingnormalize{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&__CardProducto {
		//border:1px solid red;
		border-radius: 5px;
	}
	&__CardProducto:hover{
		-webkit-box-shadow: -6px 33px 56px -14px rgba(0,0,0,0.54);
		-moz-box-shadow: -6px 33px 56px -14px rgba(0,0,0,0.54);
		box-shadow: -6px 33px 56px -14px rgba(0,0,0,0.54);
	}
	&__title{
		color: #333;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.29;
	}
	&__title strong {
		color: #363636;
    	font-weight: 700;
	}
	&__title content{
		padding: 10px;
	}
	&__MenuRelevantes{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&--filtro{
		@media #{$media-extra-movil}{
			display: none;
			
		}
		@media #{$media-movil}{
			display: none;
			
		}
	}
}

.imgpublicidad{
	text-align: center;
}

.vermas_ubicacion{
	display: none;
}

.vermas_abrir_ubicacion{
	display: grid;
}

.vermas_modelo{
	display: none;
}

.vermas_abrir_modelo{
	display: grid;
}

p.menu-label {
	font-size: 1em;
}