// Variables __ ↓↓↓↓↓↓ __
// Colores↓↓
$base-fuente: 16;


$negro: #000;
$blanco: #ffffff;
$gris-texto: #dfdfdf;
$negro-texto: #535353;
$amarillo-footer: #f4c900;

/* ↓↓ colores Autonad ↓↓ */
$rojo: #ff0023;
$azul:#3faaec;
$ColorPublicidadHome:#1a4b8a;
$breadcrum:#56595e;
$gris:#474747;
$fondo:·#EEEEEE;

/* ↓↓ colores primarios ↓↓ */
$recetas-amarillo: #ffc000;
$recetas-azul: #37fdeb;
$recetas-verde: #39fc7c;
$recetas-rojo: #ffaf93;
$recetas-fuente-amarillo: #fd9000;
$recetas-fuente-azul: #00d2b3;
$recetas-fuente-verde: #00d25b;
$recetas-fuente-rojo: #ff6847;
/* ↑↑ colores primarios ↑↑ */


/* ↓↓ PRODUCTOS ↓↓ */
$productos-amarillo: #ffca00;
$productos-cian: #2cfdeb;
$productos-verde: #39fc7c;
$productos-cian2: #00f4ce;
$productos-rosa: #ffaf93;
$productos-azul: #668ad3;

/* ↓↓ NEWSLETTER ↓↓ */
$color-facebook: #3b5998;
$color-instagram: #444444;
$color-twitter: #55acee;
/* ↑↑ NEWSLETTER ↑↑ */