.filtro {
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
	padding: 15px;
    background-color: $gris;
    color:$blanco;
}

.ColumFiltroMobile__filtro{
    background-color: none;
}

.ColumFiltroMobile--selectMobile.select {
    padding-bottom: 40px;
}