
$bar-width: 29px;
$bar-height: 1px;
$bar-spacing: 5px;
$activate-border-radius: true;
$bar-color: rgb(14, 12, 12);

.hamburger-menu {
	z-index: 2;
	top: 2.8rem;
	right: 1.5rem;
	cursor: pointer;
	width: $bar-width;
	position: absolute;
	height: $bar-height + $bar-spacing*2;
	display: none;
	@media #{$media-movil}{
		display: block;
	}
	.bar,
	.bar:after,
	.bar:before {
		width: $bar-width;
		height: $bar-height;
		@if $activate-border-radius {
			border-radius: $bar-height;
		}
	}

	.bar {
		position: relative;
		transform: translateY($bar-spacing);
		background: $bar-color;
		transition: all 0ms 300ms;

		&.animate {
			background: rgba(255, 255, 255, 0);
		}
	}

	.bar:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: $bar-color;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.bar:after {
		content: "";
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: $bar-color;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.bar.animate:after {
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
	}

	.bar.animate:before {
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
	}
}
